/***********************************************
En-tête
**********************************************/
.menuPrinci {
  background-color:  #333;
  padding: 14px 16px;
  padding-left:0px;

}


.menuPage {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  display: block;
  color: white;
display:inline;
  text-decoration: none;
}

.menuPage:hover {
  background-color: #111;
}

.menuPage:active {
  background-color: #04AA6D;
}

.lienPrinc {
color :white;
text-decoration: none;
padding-left:16px ;
padding-right:16px ;
padding-top:14px;
padding-bottom:14px;
margin :0px;


}

/***********************************************
Pied de page
**********************************************/

footer nav ul {
  list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
}
.reseaux {
display:inline;
}

.logo {
  filter: grayscale(1);
  margin-right: 10px;
  height: 50px;
  margin-top: 7px
}

footer nav ul li a img:hover {
  filter: grayscale(0);
}

/*************************************************
Formulaire contact
***************************************************/

input[type=text], select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top :6px;
  margin-bottom: 16px;
}

form {
	padding: 20px;
    border-radius: 5px;
	background-color: #f2f2f2;
}

form ul {
	padding-left: 0;
	margin: 0;
}

form li {
	list-style: none;
	margin-bottom: 10px;
}

label{
	display: block;
	margin-bottom: .5rem;
}

input + label {
	display: inline;
}

input[type="text"],
input[type="email"],
textarea {
  width: 99%;
  padding: 1em;
}

textarea {
  min-height: 5em;
}

.btEnvoi {
  background-color: #008B8B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btEnvoi:hover{
  background-color: #A9A9A9;
}
