/***********************************************
En-tête
**********************************************/
.menuPrinci {
  background-color:  #333;
  padding: 14px 16px;
  padding-left:0px;

}


.menuPage {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  display: block;
  color: white;
display:inline;
  text-decoration: none;
}

.menuPage a:hover {
  background-color: #111;
}

.menuPage a:active {
  background-color: #008B8B;
}

.lienPrinc {
color :white;
text-decoration: none;
padding-left:16px ;
padding-right:16px ;
padding-top:14px;
padding-bottom:14px;
margin :0px;
}

.pageActive {
  background-color:#008B8B;
}

/***********************************************
Pied de page
**********************************************/

footer nav ul {
  list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: transparent;
  color: white;
}
.reseaux {
display:inline;
}

.logo {
  filter: grayscale(1);
  margin-right: 10px;
  height: 50px;
  margin-top: 7px
}

footer nav ul li a img:hover {
  filter: grayscale(0);
  transition: filter 500ms linear;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
  display: table-footer-group;
}
/*************************************************
Formulaire contact
***************************************************/
.contactPage {
  background-image: url(fondContact.jpg);
  background-size: auto 100vh;
  background-position: top;
  
}
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

:root {
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo-1 {
  margin: 2% 0.5%;
  font-size: 400%;
  max-width: 100%;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
  height: auto;
  text-align: center;
}

.logo-1 {
  color: white;
  animation: neon 3s infinite;
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

input[type=text], select, textarea {
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top :6px;
  margin-bottom: 16px;
}

form {
	padding: 20px;
  border-radius: 5px;
	background-color: #f2f2f2;
  margin: 0px 10%;
}

form ul {
	padding-left: 0;
	margin: 0;
}

form li {
	list-style: none;
	margin-bottom: 10px;
}

label{
	display: block;
	margin-bottom: .5rem;
}

input + label {
	display: inline;
}

input[type="text"],
input[type="email"],
textarea {
  width: 99%;
  padding: 1em;
}

textarea {
  min-height: 5em;
}

.btEnvoi {
  background-color: #008B8B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btEnvoi:hover{
  background-color: #A9A9A9;
}

/************************************
html
****************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
html {
  font-family:'Roboto Slab', serif;
}

/************************************
Product
****************************************/

.produit {
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 5px;
  color: white;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 230px;
  background-color: #333;
  text-align: center;
  margin-top: 20px;
  display: inline-block;
}

.new{
  color:#2F4F4F ;
  background-color:#008B8B;
  padding-left:5px;
  padding-right:5px;
  border-radius: 5px;
}

.newTitle{
  margin-top:3px;
  font-size: 18px;
  padding: 6px 20px;
 
  
}

.nameProduct {
  font-size: 18px;
  line-height: 1.5;
  padding: 0px 4px;
  margin-top:0px;
}

.imgProduct {
  max-width:100%;
}

.showMore{
  font-size:16px;
  text-decoration: none;
  display: block; 
  color:#A9A9A9;
  width: 100%;
  padding-top: 10px; 
  padding-bottom: 20px; 
  text-align: center;
  }
  
.scroll{
  margin: auto; 
  text-align: center; 
  border-radius: 5px;
  padding-bottom:5px;
  width:100%;
}


.divscroll {
  overflow-x: scroll;
  background:#f2f2f2;  
  overflow-y: hidden;
  white-space:nowrap;
}

.titleProductPage{
 text-align:center;
 color:#8B0000;
 margin-top:0px;
 margin-bottom:0px;
}

.titleProductPagebox {
 background-color:#A9A9A9;
 padding-top:2px;
 padding-bottom:2px;
 border-radius:5px;
 margin-top:15px;
 margin-bottom:2px;
}

.titleProductPage2{
 text-align:center;
 color:#8B0000;
 margin-top:0px;
 margin-bottom:0px;
}

.titleProductPagebox2 {
 background-color:#A9A9A9;
 padding-top:2px;
 padding-bottom:2px;
 border-radius:5px;
 margin-top:15px;
 margin-bottom:2px;
}

.newPack{
 font-family: 'Source Sans Pro', sans-serif;
 border-radius: 5px;
 color: white;
 padding-top: 25px;
 padding-left: 5px;
 padding-right: 5px;
 margin-left: 10%;
 margin-right: 10%;
 width:80%;
 background-color: #333;
 text-align: center;
 margin-top: 20px;
 margin-bottom:10px;
 display: inline-block;
}
 .product {
   background:#f2f2f2;
 }

 /************************************
index
****************************************/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.index {
  background-image: url(spicemenu.jpg);
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
}

.btVoirMenu{
	text-align:center;
	border-radius:5px;
    background-color:#A9A9A9;
    padding: 10px 10px;
    width: 50%;
    transition: transform 2s;
    margin :15px auto;
    color:#99eeb4;
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    
}

.btVoirMenu:hover{
	transform: scale(1.5);
    background-color:#008B8B;
    transition: background-color 1s;
    color:#99eeb4;
    transition: color 1s;
}

.lienBtVisite{
	text-decoration :none;
}

.logoEntreprise{
	    margin :15px auto;
        text-align:center;
}


.sousTitre{
	text-align:center;
    font-style:italic;
    font-family: 'Oswald', sans-serif;
    font-size:20px;
}


.index{
  color: #99eeb4;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titreEntreprise {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);
  filter: url(#motion-blur-filter);
}

svg {
  display: none;
}
